# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual Environment
.venv/
env/
venv/

# Environment files
.env
*.env

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# Logs & Reports
logs/
reports/
*.log
*.html
*.xml
allure-results/
allure-report/

# Test Artifacts
screenshots/
*.png
*.jpg

# OS Files
.DS_Store
Thumbs.db

# Selenium/Webdriver Manager
drivers/
selenium_logs/

# Distribution
build/
dist/
*.egg-info/
